# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Profiler and execution logs
*.log
*.csv

# executable names
global-*
laneid-*
mapped-*

# device flags beckup file
device_flags
